.card {
  //   border: 2px solid blue;
  display: flex;

  img {
    height: 5rem;
    border-radius: 50%;
  }
  .info {
    text-align: left;
  }
  .imgDiv {
    margin-right: 2rem;
    margin-left: 0.5rem;
  }
}
