body {
  background-color: burlywood;
  box-sizing: border-box;
}
.App {
  border: 2px solid darkgoldenrod;
  width: 35%;
  margin: 5rem auto;
  /* height: 80vh; */
  text-align: center;
  background-color: sandybrown;
}
